<main role="main" page="registration">
  <div class="container">
    <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Create Account</h4>
      <p class="text-center">Get started with your free account</p>
      
      <%= form_tag("/users") do %>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
          </div>
          <input name="email" class="form-control" placeholder="Email address" type="email">
        </div> <!-- form-group// -->
        
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input class="form-control" name="password" placeholder="Create password" type="password">
        </div> <!-- form-group// -->
                                       
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
        </div> <!-- form-group// -->      
        
        <p class="text-center">Have an account? <%= link_to "Login", login_path %> </p>                                                                 
      <% end %> 
    </article>
    </div>
  </div>
</main>