<h1>Register for Find a Pair</h1>


<!-- <form action="/users" method="POST">

  <input type="submit" value="Register" />

</form> -->

<%= form_tag("/users") do %>
  <p>
    <%= label_tag "Email:" %>
    <%= text_field_tag "email" %>

  </p>
  <%= submit_tag "Register" %>
<% end %>