<main role="main" page="home">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Never Program Alone</h1>
      <p class="lead text-muted">Stuck with something? Confused about a concept? Looking for a more elegant approach to feature? Wondering how something works? Well, you're not alone anymore. On Find a Pair, you can request to pair with someone or help someone else work on their topic.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Request a Pair</a>
        <a href="#" class="btn btn-secondary my-2">Browse Pair Requests</a>
      </p>
    </div>
  </section>

  <section class="newest">
    <div class="row">
      <div class="card col-md">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

      <div class="card col-md">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

      <div class="card col-md">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>                
    </div>
  </section>
</main>